*{
    padding:0;
    margin:0;
    font-family:"Verdana";
    box-sizing: border-box;
}

.NaviBar{
    height: 100vh;
    width: 100%;
    background-image: url(Rainy\ Wallpaper.gif);
    background-size:cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}

span{
    color:#4A73AD;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px  25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
    

}

nav ul li a:hover{
    color:#4A73AD;
    transition: 0.5s;
}

footer{
    position: relative;
    width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:black;
    color:white;
    margin:0.5rem 0 0rem 0;
}

.footers h4{
    text-align: center;
}

.footerul {
list-style: none;
text-align: center;
margin:0 30px;
}

.footerul i:hover{
    color:#03a1f6;
    transition:color 0.4s ease;
}

.content{
    position: absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
    color:white;
}

content.h2{
    padding:10px;
}

content.h1{
    color:#4A73AD;
    
}

content.h3{
    padding:10%;
}

